@import url('https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" rel="stylesheet');

body {
  background-color: #051933;
}

li {
  list-style: none;
}

.wholeDashboard {
  display: grid;
  grid-template-columns: 8% 75%;
  grid-auto-rows: 6% 2% 82% 10%;
  margin: auto;
  width: 726px;
  height: auto;
  grid-column-gap: 23px;
  padding-top: 33px;
}

.profilePicCont {
  grid-column: 1;
  grid-row: 1 / 3;
}

.actualProfilePic {
  border-radius: 3px;
  width: 100%;
}

.usernameCont {
  grid-column: 2;
  grid-row: 1;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  background-color: white;
  border-radius: 3px;
}

.username {
  padding-bottom: 17px;
  padding-top: 17px;
  border-radius: 3px 3px 0px 0px;
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  display: flex;
  padding-left: 18px;
  padding-bottom: 8px;
}

.postCont {
  grid-column: 2;
  grid-row: 3;
}

.actualPost {
  width: 100%;
  height: 100%;
}

.bodyCont {
  grid-column: 2;
  grid-row: 4;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: white;
}

.body {
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  border-radius: 0px 0px 3px 3px;
  display: flex;
  padding-top: 16px;
  padding-left: 18px;
}

.likes {
  background-color: white;
}

#modal {

}

/* .wholepost {
  width: 540px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
} */
