@import url('https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet" rel="stylesheet');

.search_query {
  padding-right: 10px;
  padding-left: 39px;
  background: rgba(241, 238, 238,.6);
  font-weight: 400;
  line-height: inherit;
  font-size: 15px;
  height: 31px;
  width: 401px;
  border: 2px white;
  border-radius: 3px;
  margin-top: 10px;
  opacity: Black 10%;
  color: white
}

input:focus {
  background-color: white;
  color: white;
  border: white;
  outline: none;
}


.navbar {
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: 'PT Serif', serif;
  font-size: 58px;
  color: white;
  font-weight: bold;
  z-index: 2;
  position: fixed;
  background: rgba(241, 238, 238,0.1);
  width: -webkit-fill-available;
}

.navlink {
  color: white;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 3px;
}

.profileIcon {
  margin-left: 770px;
  margin-top: 18px;
  height: 54px;
}

.logout {
  height: 34px;
  width: 35;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid #FFFFFF;
  color: #444444;
  background-color: #FFFFFF;
  margin-top: 10px;
  font-family: Helvetica;
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 21px;
  margin-top: 25px;
}
