/* .profile {
 background-image: url('../background_img/hand.jpeg')
} */

/* .wholeProfile {
  display: grid;
  grid-template-columns: 5% 21% 13%;
  grid-auto-rows: 30% 23% 23% 10%;
  margin: auto;
  width: 726px;
  height: auto;
  grid-column-gap: 23px;
  padding-top: 33px;
  padding-right: 230px;
} */

.backgroundContainer {

}

.backgroundPicture {
  width: 100%;
  height: 400px;
  object-fit: cover;
}



.profilePicContainer {
  grid-column: 1;
  grid-row: 1 / 4;
  width: 50px;
  margin-left: 675px;
  margin-top: -51px;
}

.img-circle {
  border-radius: 50%;
  height: 90px;
}

.postContainer {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

/* .post {
  margin-left: 208px;
} */

.bodyContainer {
  grid-column: 2;
  grid-row: 4 / 4;
}
